$color-black: #0e0e0e;
$main-color-white: #f9fafb;
$color-blue: #096dfa;
$color-main-btn: #7041c1;
$gray-dark-color: #212528;
$text-red-color: #e03846;
$color-white: #ffffff;

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    --bs-body-bg: #000000;
}

.container-md {
 padding: auto;
 color: $main-color-white;
}

.container {
    position: relative;
}

.container-header {
    padding: 5rem 15rem 15rem 15rem;
   }
  
   .container-m {
      padding:20rem 15rem 20rem 15rem;
      //margin-top: 10rem;
      justify-content: space-between;
   }
  

.bg-light-1 {
    background-color: $main-color-white;
  }
  

  .row-h3{
    background-color: $gray-dark-color;
    padding: 0.1rem 0 0.1rem 0;
 }

 .container-card {
    background-color: $main-color-white;
    padding: 3rem 15rem 3rem 15rem;
 }


 .card {
    --bs-card-bg: #f9fafb!important;
     border: none!important;
     box-shadow: 5px 5px 20px rgb(161, 161, 161);
 
 }

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    z-index: -1;
    opacity: .4;
    overflow: hidden;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    
    &__content {
     height: 100%;
     width: 100%;
     object-fit: cover;
    }
 }  


/* ******NAVBAR**** */
.navbar {
 --bs-navbar-padding-y: 0.2rem;
}
.navbar-nav {
    flex-direction: row!important;
}

.nav-item {
    padding-right: 0.7rem;
}

.navbar-toggler {
    --bs-navbar-toggler-border-radius: 2px 20px; 
    --bs-navbar-toggler-focus-width: 0.11rem;;
    }

.nav-item{
    font-weight: bold;
    font-size: 95.5%; 
    }    

li {
    font-size: 85.5%; 
    }
    



/* ****BTN***** */

.btn-sm {
 --bs-border-radius-sm: 2px 20px;
}

.btn-call {
padding: 0.5rem;
}

.bi-telephone-fill {
    margin-right: 0.3rem;
    align-items: center;
}

.btn-secondary  {
    --bs-btn-bg: #7041c1!important;
    --bs-btn-border-color: #7041c1!important;
 }

 .btn-secondary:hover {
    --bs-btn-hover-bg: #44237c;
    --bs-btn-hover-border-color:#44237c;
 }
 

 .btn-lg {
    --bs-border-radius-lg: 2px 20px;
 }


 /* *********TYPOGRAPHY******* */

 h1 {
    z-index: 100;
    opacity: 1;
    position: relative;
    background-color: transparent;
    padding-top: 100px;
    font-weight: 300;
 }

  .main-heading {
    font-weight: 300;
    font-size: calc(1.375rem + 2vw);
    color: $color-white;
 }

 .header-red {
    color: $text-red-color;
 }

h2 {
    --bs-heading-color: #ffffff;
}

.sec-heading {
    font-weight: 400;
}

 h3 {
    --bs-heading-color: #ffffff;
    text-align: center;
    font-size: calc(1.375rem + 0.5vw);
 }

 .text {
    color: $color-white;
 }

 .card-text {
    font-size: 85.5%; 
 }

 /* ********MODAL******** */
 .modal-content {
    --bs-modal-bg: #ffffff;
    --bs-modal-color: #000000;
 }

 .modal-title {
    font-size: 1.7rem; 
 }


 /* ********MEDIA QUERISE****** */

 @media (max-width: 768px) { 
    .container-header {
        padding: 3rem 14rem 10rem 14rem;
       }
       .container-m {
          padding: 10rem 14rem 10rem 14rem;
       }

       .container-card {
        padding: 4rem 5rem 4rem 5rem;
       }

       .container-header {
        padding: 3rem 5rem ;
        text-align: center;
       }
  }

  @media (max-width: 575.98px) {
    .container-header {
        padding: 2rem 5rem 5rem 5rem;
        text-align: center;
       }
       .container-m {
          padding: 5rem 5rem 5rem 5rem;
       }

       .row {
        flex-direction: column;
       }
       .justify-content-between {
        align-items: center;
       }
       
      .btn-lg {
        --bs-btn-padding-y: 1.05rem!important;
       }
       .col-4 {
        width: 60%!important;
        display: grid !important;
       }

       .text {
        text-align: center;
        margin-top: 1rem;
       }

       .container-card {
        padding: 2rem 3rem 2rem 3rem;
       }

       .navbar-nav  {
        flex-direction: column!important;
        font-size: 1.5rem;
        }
    
       .mob {
        display: none;
       }

       .d-flex {
        margin-left: 50%;
        padding: 0;
       }
   }